.navBlock{
   display: flex;
   flex-direction: column;
}

.item{
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 5px;
}

.item:hover{
    background-color: #EDF2F6;
    color: #000;
}

.active{
    background-color: #1976D2;
    color: #fff;
}