header {
    background-color: #3F4257;
    color: white;
    height: 70px;
    display: flex;
    // align-items: center;

    .red-box {
        background-color: #FF5E3A;
        display: inline;
        width: 70px;
        height: 70px;
        align-items: center;
    }

    .page-name {
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;

    }

    .search-box {
        background-color: #494C62;
    }
}