/* https: //html.crumina.net/html-olympus/02-ProfilePage.html */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: #edf2f6;
}

.block {
  background-color: #fff;
  border: 1px solid #e6ecf5;
  border-radius: 3px;
  padding: 20px;
  margin-top: 20px;
}

.header {
  background-color: #3f4257;
  padding: 10px;
}

.logo-img {
  height: 40px;
}

.app-wrapper {
  width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  grid-template-areas: "nav main";
}

.nav {
  grid-area: nav;
}

.main-content {
  grid-area: main;
}

.main-content img {
  height: 200px;
  width: 100%;
}
