* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
 
  text-decoration: none;
}

.paper{
  padding: 10px;
  margin-bottom: 10px;
}

body{
   background-color: #edf2f6;
}

.container{
  padding-top: 10px;
}