/* https: //html.crumina.net/html-olympus/02-ProfilePage.html */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: #edf2f6;
}

.block {
  background-color: #fff;
  border: 1px solid #e6ecf5;
  border-radius: 3px;
  padding: 20px;
}

.app-wrapper {
  width: 1170px;
  margin: auto;
  display: grid;
  grid-template-rows: 60px 100%;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  grid-template-areas:
    "header header"
    "nav main";
}


