.block {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
}

.dialogs {
  /* padding: 20px; */
  /* background-color: #1ff; */
  /* border-right: 5px solid #EDF2F6; */
  display: flex;
  flex-direction: column;
}

.messages {
  padding: 20px;
  background: #edf2f6;
  border-radius: 5px;
  width: 100%;
}

.message {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;
}

.dialog {
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.dialog:hover {
  background: #edf2f6;
}

.active {
  background: #edf2f6;
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

h2 {
  padding: 20px;
}
